@page
@using NonSecureNoteApplication.Models
@model NonSecureNoteApplication.Pages.NoteEditorModel
@{
	ViewData["Title"] = "Note Editor";
}

<h2>Note Editor</h2>

<div>
    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div>
            <label class="control-label">Title</label>
            <input asp-for="@Model.DataModel.TitleText" class="form-control" />
        </div>
        <div>
            <label class="control-label">Text</label>
            <textarea asp-for="@Model.DataModel.BodyText" class="form-control"></textarea>
        </div>
        <div>
            <input type="submit" value="Save" class="btn btn-primary" />
            <input asp-page-handler="delete" method="post" type="submit" value="Delete" class="btn btn-danger" />
        </div>
    </form>
</div>
<br />

<h3>Notes</h3>
<table>
    <tr>
        <th>
            File Name
        </th>
    </tr>
    @for (int i = 0; i < Model.NoteList.Count; i++)
    {
        <tr>
            <td>
                @Model.NoteList[i].TitleText
            </td>
            <td>
                <a asp-page="/noteeditor" asp-route-id="@i">
                    <input type="button" value="Open" class="btn btn-light" />
                </a>
            </td>
        </tr>
    }
</table>