@page
@model NonSecureNoteApplication.Pages.NoteEditorModel
@{
	ViewData["Title"] = "NoteEditor";
}

<h2>Note Editor</h2>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.DataModel.TitleText" class="control-label"></label>
                <input asp-for="@Model.DataModel.TitleText" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.DataModel.BodyText" class="control-label"></label>
                <input asp-for="@Model.DataModel.BodyText" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>